apiVersion: v1
kind: ConfigMap
metadata:
  name: rabbit-config
  namespace: rabbit
  labels:
    app: rabbit
data:
  server.yaml: |
    environment: PROD
    enableClientConfig: true
    enableSwagger: true
    enableMetrics: true
    useDatabase: false
    
    server:
      name: moon.rabbit
      useRandomID: false
      metadata:
        tag: rabbit
        repository: https://github.com/aide-family/rabbit
        author: Aide Family
        email: aidecloud@163.com
      http:
        address: "0.0.0.0:8080"
        network: "tcp"
        timeout: "10s"
      grpc:
        address: "0.0.0.0:9090"
        network: "tcp"
        timeout: "10s"
    
    jwt:
      secret: "${MOON_RABBIT_JWT_SECRET:change-me-in-production}"
      expire: "${MOON_RABBIT_JWT_EXPIRE:600s}"
      issuer: "${MOON_RABBIT_JWT_ISSUER:rabbit}"
    
    main:
      username: "${MOON_RABBIT_MAIN_USERNAME:root}"
      password: "${MOON_RABBIT_MAIN_PASSWORD:}"
      host: "${MOON_RABBIT_MAIN_HOST:mysql-service}"
      port: ${MOON_RABBIT_MAIN_PORT:3306}
      database: ${MOON_RABBIT_MAIN_DATABASE:rabbit}
      debug: false
      useSystemLogger: true
      parameters:
        charset: utf8mb4
        parseTime: "true"
        loc: Asia/Shanghai
    
    eventBus:
      workerCount: 1
      timeout: 10s
    
    registryType: KUBERNETES
    
    cluster:
      name: ${MOON_RABBIT_CLUSTER_NAME:moon.rabbit}
      endpoints: ${MOON_RABBIT_CLUSTER_ENDPOINTS:}
      protocol: GRPC
      timeout: 10s
    
    kubernetes:
      namespace: "${MOON_RABBIT_KUBERNETES_NAMESPACE:rabbit}"
      kubeConfig: "${MOON_RABBIT_KUBERNETES_KUBECONFIG:}"
    
    swaggerBasicAuth:
      enabled: true
      username: "${MOON_RABBIT_SWAGGER_BASIC_AUTH_USERNAME:moon.rabbit}"
      password: "${MOON_RABBIT_SWAGGER_BASIC_AUTH_PASSWORD:rabbit.swagger}"
    
    metricsBasicAuth:
      enabled: true
      username: "${MOON_RABBIT_METRICS_BASIC_AUTH_USERNAME:moon.rabbit}"
      password: "${MOON_RABBIT_METRICS_BASIC_AUTH_PASSWORD:rabbit.metrics}"
    
    configPaths:
      - "${MOON_RABBIT_CONFIG_PATHS:./datasource}"

