# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Check Code

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install protobuf
        run: |
          sudo apt update -y
          sudo apt install -y protobuf-compiler

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.3'

      - name: Install dependencies
        run: make init

      - name: make all
        run: make all

      - name: make build
        run: make build

      - name: make test
        run: make test

